body{
    background-color: #faf8ef;
}

p{
    color: #776e65;
    font-size: 20px;
}

h1{
    color: #776e65;
    text-align: center;
}

#score{
    text-align: center;
}

.clear{
    clear: both;
}

#size-block{
    margin-left: -50px;
    padding-left: 50%;
}

#size-title{
    float: left;
    margin-top: 0px;
}

#size{
    width: 50px;
    margin-left: 10px;
    border-radius: 3px;
}

#canvas{
    background-color: #bbada0;
}

#canvas-block{
    margin-left: -250px;
    padding-left: 50%;
}